/*Contenedor mobile */

@media (max-width: 1010px) {
    /* Menú hamburguesa */
    .respmenu {
        color: white;
        position: relative;
        background: #123456;
        min-height: 2.5em;
        padding: 0.7em; /* Añade un poco de padding */
    }

    .respmenu input[type="checkbox"] {
        display: none; /* Oculta el checkbox */
    }

    .menu-icon {
        cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
    }

    .menu-icon .fa-bars {
        font-size: 30px; /* Tamaño del ícono de hamburguesa */
    }

    .menu-icon .fa-times {
        display: none; /* Oculta el ícono de cerrar por defecto */
        font-size: 30px; /* Tamaño del ícono de cerrar */
    }

    nav {
        display: none; /* Oculta el menú inicialmente */
        background: #234567; /* Color de fondo del menú */
        position: absolute; /* Posiciona el menú de manera absoluta */
        top: 100%; /* Lo coloca justo debajo del contenedor */
        right: 0;
        width: 200px; /* Ancho del menú */
        z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
    }

    nav ul {
        list-style: none; /* Sin viñetas */
        padding: 0; /* Sin padding */
    }

    nav ul li {
        border-bottom: 1px solid #456789; /* Línea divisoria entre los enlaces */
    }

    nav ul li a {
        color: white; /* Color del texto */
        text-decoration: none; /* Sin subrayado */
        display: block; /* Hace que todo el área del enlace sea clickeable */
        padding: 10px 20px; /* Espaciado interno */
    }

    /* Estados de enlace */
    nav ul li a:link {
        background: transparent; /* Fondo inicial */
    }

    nav ul li a:visited {
        background: rgb(66, 52, 120); /* Color de fondo para enlaces visitados */
    }

    nav ul li a:hover {
        background: rgb(211, 235, 228); /* Color de fondo al pasar el mouse */
    }

   nav ul li a:active {
    background: rgb(86, 145, 154); /* Color de fondo cuando el enlace está activo */
}

    /* Mostrar menú y cambiar íconos cuando se marca el checkbox */
    #menu-toggle:checked ~ nav {
        display: block; /* Muestra el menú cuando el checkbox está marcado */
    }

    #menu-toggle:checked + .menu-icon .fa-bars {
        display: none; /* Oculta el ícono de hamburguesa */
    }

    #menu-toggle:checked + .menu-icon .fa-times {
        display: block; /* Muestra el ícono de cerrar */
    }
}

/* Fin Menú hamburguesa */




/*Pasar todo a desktop*/


@media (min-width: 1010px) {

